
/*.menu .linkMenu {
	text-decoration: none;
	margin: 20px 10px 0px;
	text-transform: uppercase;
	color: blue;
	font-weight: bold;
	font-family: Arial, Helvetica, sans-serif;
}*/
/* body {
	width: 100%;
	height: 100%;
	
} */
/*Reset*/
/** {
    /* margin: auto; */
    /* padding: 0;
    box-sizing: border-box; */
/*}*/
/*input {
	width:320px;
	height: 40px;
	border-radius: 10px;
}
.buscar{

	display: flex; 
    justify-content: space-between;
    align-items: center;
	border-radius: 10px;
}
.buscar button{
	width:100px;
	height: 40px;
	border-radius: 10px;
	background-color:white;

}
.linkMenu {
	font-family: arial,sans-serif;
	font-weight: bold;
	font-size: 20px;
	text-align: center;
	width: 100%;
	color:white;
	background-color:white;
	

}
.linkMenu a { 
	text-transform: uppercase;
	text-decoration: none;
	color: black;
	margin: 3%;
	

}
.container{
	padding:0 5% 0 5%;
	display: flex; 
    justify-content: space-between;
    align-items: center;
	background-color:black;
}

.container-btn button {
	margin: 10px;
}
body {
	background-image: linear-gradient(to right,rgba(2,3,5), rgba(79,91,114));

}
.container-body{
	padding:0 5% 0 5%;
}
.containerProdutos {
	
	background-color: rgb(1,10,38);
	height: 1300px;
}
.container-procutosPromo {
	width: 80%;
}
.produtosPromo{
	display: flex; 
    justify-content: space-between;
    align-items: center;
}
.produtosPromo .produtosPromoBox {
	margin: 20px 30px 30px 20px;
	color: black;
	background-color:white;
	width: 230px;
	height:330px;
	text-align: center;	
}
h3 {
	margin: 20px 0 8px auto;
	color: black;
	font-size: 17px;	
}
h2{
	font-size: 45px;
}
.departamentos {
	display: flex; 
    justify-content: space-between;
    align-items: center;
}
.departamentos .departamentosBox {
	margin: 20px 30px 30px 20px;
	color: black;
	background-color:white;
	width: 325px;
	height:225px;
	text-align: center;	
}
.banner {
	display: flex; 
    justify-content: space-between;
    align-items: center;
}
.textoBanner {
	color:white;
	text-align: center;
}
.subtitulo {
	Background-color:white;
}
.subtitulo p {
	font-family: arial,sans-serif;
	font-weight: bold;
	font-size: 20px;
	padding: 5px;
}
footer {
	background-color: rgb(196,196,196);
	padding-bottom: 50px;
	
}
.footerbox {
	display: flex; 
    justify-content: space-between;
    align-items: center;
}
.departamentosFooter {
	align-items: top;
}*/
* {
    margin: auto; 
    padding: 0; 
    box-sizing: border-box;
}

header{
	background-color:black;
}
#container-grid  {
	/* top right bottom left; */
	margin: 0 10% 0 10%;
}
.container-busca {
	display: flex; 
	justify-content: space-between;
	align-items: center;
}
.subMenu{
	background-color: #fff;
}
#container-grid2 {
	margin: 0 10% 0 10%;
	display: flex; 
    justify-content: space-between;
    align-items: center;
}
#container-grid2 a {
	text-transform: uppercase;
	text-decoration: none;
	color: black;
	padding:1%;
}
.inputBuscar {
	font-family:Georgia, 'Times New Roman', Times, serif;
	font-weight: bold;
	background-color:white;
	width: 320px;
	height: 40px;
	border-radius: 10px;
}
.botaoBuscar {
	width:100px;
	height: 40px;
	border-radius: 10px;
	background-color:white;
}
.botaoLogin {
	width: 80px;
	height: 40px;
	border-radius: 10px;
	background-color:white;
}
.botaoFavoritos{
	width: 30px;
	height: 40px;
	border-radius: 30px;
	background-color:white;
}
/******************************************************/
body{
	/* background-image: url(../img/Group\ 8\ \(1\).png); */
	/* background-repeat: no-repeat; */
	background-image: linear-gradient(to right,rgba(2,3,5), rgba(79,91,114)); */	
}
.banner{
	display: flex; 
    justify-content: space-between;
    align-items: center;
}
.banner p {
	font-size: 150%;
	color:white;
}
.textoBanner {
	margin-top: 5%;
	width: 300px;
	height: 300px;
	text-align: center;
}
.textoBanner p {
	padding: 2px;
	font-family:Georgia, 'Times New Roman', Times, serif;
	font-weight: bold;
	font-size: 150%;
}
.textoBanner button{
	margin-top:5px;
	width:100px;
	height: 40px;
	border-radius: 10px;
	background-color:white;
}
.containerProdutos{
	margin: 0 10% 0 10%;
	/* background-color: white; */
	/* width: 80%; */
	height: 40px;
}
.containerSubtitulo{
	background-color: white;
	/* width: 80%; */
	height: 40px;
}
.containerProdutos .subtitulo {
	font-family: 'Courier New', Courier, monospace;
	font-weight: bold;
	font-size: 25px;
}
.container-produtosPromo {
	background-color: rgb(1,10,38);
	height: 1300px;
}
.produtosPromoBox {
	/* top right bottom left; */
	margin: 5% 10% 5% 10%;
	color: black;
	background-color:white;
	width: 230px;
	height:330px;
	text-align: center;	
}
.produtosPromo{
	display: flex; 
    justify-content: space-between;
    align-items: center;
}
h1 {
	font-size:250%;
	padding: 5%;
}
.produtosPromoBoxBtn button {
	margin-top:5px;
	width:40%;
	height: 40px;
	border-radius: 10px;
	background-color:#969DAA;
	color: #fff;
	font-weight: bold;
	text-transform: uppercase;

}
.departamentos {
	display: flex; 
    justify-content: space-between;
    align-items: center;
}
.departamentosBox{
		/* top right bottom left; */
		margin: 5% 10% 5% 10%;
		color: black;
		background-color:white;
		width: 230px;
		height:250px;
		text-align: center;	
}
footer{
	margin-top: 70%;
	width: 100%;
	height:500px;
	background-color:gray
}
.footerbox {
	margin: auto 10% 5% 10%;
	display: flex; 
    justify-content: space-between;
    align-items: center;
}
/*************************/
.subtituloPag {
	font-family: 'Courier New', Courier, monospace;
	font-weight: bold;
	font-size: 25px;
	text-align: center;
	text-transform: uppercase;
}
.footer{
	margin-top: 5px;
	width: 100%;
	height:500px;
	background-color:gray
}
/***************************/
.container-background {
	/* background-color: rgb(1,10,38); */
	height: 700px;
}
/* .container-login{
	
	margin: 5% 10% 5% 10%;
	color: black;
	background-color:white;
	width: auto;
	height:80%;
	text-align: center;	
} */
.loginBox {
	margin:10% auto;
	background-color: white;
	padding-top: 30px;
	padding-bottom: 30px;
	width: 50%;
	height: auto;
	text-align: center;
}
